<main id="main" class="grid-container grid-container--crew flow">
  <h1 class="numbered-title">
    <span aria-hidden="true">02</span> Meet your crew
  </h1>
  <div class="dot-indicators flex">
    <button class="role-container" aria-selected="true">
      <span class="role sr-only">Commander</span>
    </button>
    <button class="role-container" aria-selected="false">
      <span class="role sr-only">Mission Specialist</span>
    </button>
    <button class="role-container" aria-selected="false">
      <span class="role sr-only">Pilot</span>
    </button>
    <button class="role-container" aria-selected="false">
      <span class="role sr-only">Flight Engineer</span>
    </button>
  </div>

  <article class="crew-details flow">
    <header class="flow flow--space-small">
      <h2 id="crew-role" class="fs-600 ff-serif uppercase">Commander</h2>
      <p id="crew-name" class="fs-700 uppercase ff-serif">Douglas Hurley</p>
    </header>
    <p id="crew-description">
      Douglas Gerald Hurley is an American engineer, former Marine Corps pilot
      and former NASA astronaut. He launched into space for the third time as
      commander of Crew Dragon Demo-2.
    </p>
  </article>
  <picture>
    <source
      id="crew-webp"
      srcset="assets/crew/image-douglas-hurley.png"
      type="image/webp"
    />
    <img
      id="crew-png"
      src="assets/crew/image-douglas-hurley.png"
      alt="Douglas Hurley"
    />
  </picture>
</main>
