<main id="main" class="grid-container grid-container--technology flow">
  <h1 class="technology-details numbered-title">
    <span aria-hidden="true">03</span> Space Launch 101
  </h1>
  <picture>
    <source
      id="portrait"
      srcset="assets/technology/image-launch-vehicle-portrait.jpg"
      media="(min-width: 1024px)"
    />
    <img
      id="landscape"
      src="assets/technology/image-launch-vehicle-landscape.jpg"
      alt="the moon"
    />
  </picture>
  <aside class="number-indicators flex">
    <button class="number-button ff-serif" aria-selected="true" data-number="0">
      1</button
    ><button
      class="number-button ff-serif"
      aria-selected="false"
      data-number="1"
    >
      2</button
    ><button
      class="number-button ff-serif"
      aria-selected="false"
      data-number="2"
    >
      3
    </button>
  </aside>
  <article class="technology-details">
    <p class="info-text ff-serif">The terminology...</p>
    <h2 id="technology-name" class="info-title ff-serif">Launch Vehicle</h2>
    <p id="technology-description" class="info-description text-accent">
      A launch vehicle or carrier rocket is a rocket-propelled vehicle used to
      carry a payload from Earth's surface to space, usually to Earth orbit or
      beyond. Our WEB-X carrier rocket is the most powerful in operation.
      Standing 150 metres tall, it's quite an awe-inspiring sight on the launch
      pad!
    </p>
  </article>
</main>
